In [1]:
import pandas as pd

In [6]:
data = pd.read_csv('courses.csv')
data['teachers']

0     NaN
1     NaN
2     NaN
3     NaN
4     NaN
       ..
139   NaN
140   NaN
141   NaN
142   NaN
143   NaN
Name: teachers, Length: 144, dtype: float64